<div fxLayout="row" fxLayoutGap="32px"
     fxLayoutAlign="flex-start flex-start" *ngIf="display$ | async as display"
     fxLayout.lt-md="column"
     fxLayoutAlign.lt-md="center center"
     class="tabs-container">
  <div fxFlex="1 1 30%" class="tabs">
    <div *ngFor="let menu of display.menus">
      <div class="menu-title" (click)="expanded$.next(menu.title)">
        <i nz-icon nzType="right" nzTheme="outline" *ngIf="display.expanded !== menu.title"></i>
        <i nz-icon nzType="down" nzTheme="outline" *ngIf="display.expanded === menu.title"></i>
        {{menu.title}}
      </div>
      <div class="menu-content" [class.expanded]="display.expanded === menu.title">
        <div *ngFor="let guide of menu.guides" class="guide-row"
             [class.selected]="guide.slug === display.selected.slug"
             (click)="selected$.next(guide)"
             fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px">
          <div class="bullet"></div>
          <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="space-between center">
            <div>{{guide.navTitle}}</div>
            <div>
              <nz-tag *ngIf="!guide.published">draft</nz-tag>
              <nz-tag *ngIf="guide.new" class="primary-tag">New !</nz-tag>
              <nz-tag *ngIf="guide.updatedRecently" class="primary-tag">Updated recently !</nz-tag>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxFlex="1 1 1150px" fxFlex.lt-md="1 1 auto">
    <guides-guide-card [guide]="display.selected" large="true"></guides-guide-card>
  </div>
</div>
