@if (display$ | async; as display) {
  <div fxLayout="row" fxLayoutGap="32px"
    fxLayoutAlign="flex-start flex-start"
    fxLayout.lt-md="column"
    fxLayoutAlign.lt-md="center center"
    class="tabs-container">
    <div fxFlex="1 1 30%" class="tabs">
      @for (menu of display.menus; track menu) {
        <div>
          <div class="menu-title" (click)="expanded$.next(menu.title)">
            <div>
              @if (display.expanded !== menu.title) {
                <i nz-icon nzType="right" nzTheme="outline"></i>
              }
              @if (display.expanded === menu.title) {
                <i nz-icon nzType="down" nzTheme="outline"></i>
              }
              {{menu.title}}
            </div>
            <div>
              @if (menu.new) {
                <nz-tag class="primary-tag">New !</nz-tag>
              }
              @if (menu.updatedRecently) {
                <nz-tag class="primary-tag">Updated recently !</nz-tag>
              }
            </div>
          </div>
          <div class="menu-content" [class.expanded]="display.expanded === menu.title">
            @for (guide of menu.guides; track guide) {
              <div class="guide-row"
                [class.selected]="guide.slug === display.selected.slug"
                (click)="selected$.next(guide)"
                fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px">
                <div class="bullet"></div>
                <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="space-between center">
                  <div>{{guide.navTitle}}</div>
                  <div>
                    @if (!guide.published) {
                      <nz-tag>draft</nz-tag>
                    }
                    @if (guide.new) {
                      <nz-tag class="primary-tag">New !</nz-tag>
                    }
                    @if (guide.updatedRecently) {
                      <nz-tag class="primary-tag">Updated recently !</nz-tag>
                    }
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      }
    </div>
    <div fxFlex="1 1 1150px" fxFlex.lt-md="1 1 auto">
      <guides-guide-card [guide]="display.selected" large="true"></guides-guide-card>
    </div>
  </div>
}
