// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "node_modules/ng-zorro-antd/ng-zorro-antd.dark.less";
@import "node_modules/ng-zorro-antd/code-editor/style/entry.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

@primary-color: #4880b1;
@body-background: #1f1f1f;
@component-background: #2f3237;
@layout-header-background: @component-background;
@menu-dark-inline-submenu-bg: darken(@component-background, 5%);
@menu-dark-bg: darken(@component-background, 2%);

// @primary-color: #1890ff;
/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: FFXIVAppIcons;
  src: url("./assets/font/FFXIVAppIcons.ttf");
}

.companion-svg {
  font-family: 'FFXIVAppIcons';
}

.nav-bar {
  height: ~'calc(100% - @{layout-trigger-height} - 64px)';
}
