// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "node_modules/ng-zorro-antd/ng-zorro-antd.dark.less";
@import "node_modules/ng-zorro-antd/code-editor/style/entry.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

@primary-color: #4880b1;
@body-background: #1f1f1f;
@component-background: #2f3237;
@layout-header-background: @component-background;
@menu-dark-inline-submenu-bg: darken(@component-background, 5%);
@menu-dark-bg: darken(@component-background, 2%);
@card-padding-base: 10px;
@card-background: @menu-dark-inline-submenu-bg;
@border-color-base: #555;
@border-color-split: #444;
@border-radius-base: 4px;

// @primary-color: #1890ff;
/* You can add global styles to this file, and also import other style files */


@font-face {
  font-family: FFXIVAppIcons;
  src: url("./assets/font/FFXIVAppIcons.ttf");
}

.companion-svg {
  font-family: 'FFXIVAppIcons';
}

.nav-bar {
  height: ~'calc(100% - @{layout-trigger-height} - 64px)';
}

.border-split {
  border: 1px solid @border-color-split;
  border-radius: @border-radius-base;
}

pre {
  padding: 5px;
  background-color: @menu-dark-inline-submenu-bg;
  border-radius: 4px;
}

img {
  max-width: 100%;
}

p.with-image {
  display: flex;

  @media screen and (max-width: 959px) {
    > img {
      max-width: 50vw;
    }
  }

  @media screen and (max-width: 350px) {
    flex-direction: column;
    > img {
      max-width: 100%;
      margin-bottom: 10px;
    }
  }

  > img {
    margin-right: 10px;
  }
}

.heading-anchor {
  cursor: pointer;
  font-size: 20px;
  color: @menu-dark-bg;

  &:hover {
    color: @primary-color;
  }
}

.tc-card-container {
  border: 1px solid @border-color-split;
  border-radius: @border-radius-base;
  background-color: @card-background;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
  margin: 0 10px;

  .tc-card-title {
    background-color: @card-background;
    border-bottom: 1px solid @border-color-split;
    padding: 5px 24px 5px;
    font-size: 16px;
  }

  .tc-card-content {
    padding: 10px;
  }

  .tc-card-footer {
    font-size: 12px;
    border-top: 1px solid @border-color-split;
    padding: 5px;
  }
}
