<div class="guide-card-container" routerLink="/guide/{{guide.slug}}">
  <nz-card nzHoverable [nzCover]="coverTemplate">
    <nz-card-meta *ngIf="guide.author | character | async as author"
                  [nzAvatar]="avatarTpl"
                  [nzTitle]="author.Name"
                  [nzDescription]="GuideCategory[guide.category]">
      <ng-template #avatarTpl>
        <nz-avatar [nzSrc]="author.Avatar" nzSize="large"></nz-avatar>
      </ng-template>
    </nz-card-meta>
  </nz-card>
</div>

<ng-template #coverTemplate>
  <nz-ribbon [nzText]="guide.ribbon" [class.empty]="guide.ribbon === null">
    <img src="./assets/media/banner.png" alt="" class="banner">
  </nz-ribbon>
  <div class="cover">
    <h3>{{guide.title}}</h3>
    <p>{{guide.description}}</p>
  </div>
</ng-template>
