:host ::ng-deep {
  .ant-card-cover {
    flex: 1 1 auto;
  }
}

nz-card {
  height: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
}

.guide-card-container {
  width: 400px;
  padding: 0 15px;
}

.cover {
  padding: 10px;
  overflow: hidden;
}

.banner {
  width: ~"calc(100% - 2px)";
  margin: 1px;
  max-width: 100%;
}
