@import '../../../variables';

.guide-card-container {
  width: 500px;
  cursor: pointer;
  --card-header: url('/assets/media/card_header_highlight.png') left top no-repeat;
  --card-content: url('/assets/media/card_body_highlight.png') left top repeat-y;
  --card-footer: url('/assets/media/card_footer_highlight.png') left bottom no-repeat;

  @media @mobile {
    width: 322px;
  }

  &.large {
    width: 1120px;
    --card-header: url('/assets/media/card_header.png') left top no-repeat;
    --card-content: url('/assets/media/card_body.png') left top repeat-y;
    --card-footer: url('/assets/media/card_footer.png') left bottom no-repeat;

    .card-title {
      > .title {
        padding: 36px 36px 14px;
      }
    }

    .card-footer-border {
      height: 48px;
    }

    .card-footer {
      padding: 20px 48px 0;
    }

    .title-spacing {
      background: var(--card-content);
      background-size: 100%;
      height: 20px;
    }
  }

  @media @mobile {
    .title-spacing {
      background: var(--card-content);
      background-size: 100%;
      height: 20px;
    }
  }

  .guide-banner {
    margin: 0 auto;
    max-height: 150px;
    max-width: 95%;
  }

  .card-divider {
    margin: 0 auto;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ccc;
    box-shadow: 0 1px 3px black;
    height: 1px;
    border: 0;
  }

  .card-title {
    background: var(--card-header);
    background-size: 100%;
    position: relative;
    text-shadow: 0 1px 3px black;

    > .title {
      text-shadow: 1px 3px 2px black;
      font-size: 16px;
      padding: 24px 24px 10px;
      text-align: center;
      width: 100%;

      @media @mobile {
        padding: 0 20px 0;
      }
    }

    > .card-divider {
      bottom: 0;
    }
  }

  .card-footer {
    background: var(--card-content);
    background-size: 100%;
    padding: 20px 20px 0;
    position: relative;

    > .card-divider {
      top: 0;
    }

    .companion-svg {
      margin-right: 5px;
    }
  }

  .card-content {
    background: var(--card-content);
    background-size: 100%;
    padding: 20px;

    > p {
      width: 92%;
      margin: 0 auto;
    }
  }

  .card-footer-border {
    background: var(--card-footer);
    background-size: 100%;
    height: 22px;

    @media @mobile {
      height: 18px;
    }
  }
}
