<div fxLayout="column" class="content-container padding-container">
  <nz-tabset *ngIf="guide$ | async as guide" [nzSelectedIndex]="selectedTab" #tabset
             [nzTabBarExtraContent]="extra" fxFlex="1 1 auto">
    <ng-template #extra>
      <div fxLayout="row" fxLayoutGap="10px">
        <div>
          <button nz-button nzType="primary"
                  [disabled]="!formRef.form.valid || !guide.content || !guide.category" (click)="save(guide)">
            <i nz-icon nzType="save"></i>
          </button>
        </div>
        <div *ngIf="isAuthor$ | async" fxLayout="row" fxLayoutGap="10px">
          <div>
            <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton"
                            *ngIf="otherEditors$ | async as editors">
              <nz-select [(ngModel)]="selectedEditor" nzShowSearch
                         nzPlaceHolder="Add contributor"
                         (keydown.enter)="addContributor(guide)"
                         style="width: 200px">
                <ng-container *ngFor="let editor of editors">
                  <nz-option *ngIf="editor.$key | character | async as character"
                             [nzValue]="editor.$key" [nzLabel]="character.Name">
                  </nz-option>
                </ng-container>
              </nz-select>
            </nz-input-group>
          </div>
          <ng-template #suffixIconButton>
            <button nz-button nzType="primary" nzSearch (click)="addContributor(guide)">
              <i nz-icon nzType="plus" nzTheme="outline"></i>
            </button>
          </ng-template>
          <button nz-button nzType="primary"
                  *ngIf="guide.published === false"
                  [disabled]="!formRef.form.valid || !guide.content || !guide.category"
                  (click)="publish(guide)">
            Publish
          </button>
        </div>
      </div>
    </ng-template>
    <nz-tab nzTitle="Meta">
      <div class="editor-container">
        <form nz-form #formRef="ngForm">
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Title</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <input required [(ngModel)]="guide.title" name="title" (ngModelChange)="updateGuideSlug(guide)" nz-input
                     placeholder="Title for the full display" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item *ngIf="featuredGuides$ | async as featuredGuides">
            <nz-form-label [nzSpan]="7" nzRequired>Featured</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <div>
                <label nz-checkbox [(ngModel)]="guide.featured" (ngModelChange)="save(guide)"
                       [nzDisabled]="featuredGuides.length >= 3" name="featured"></label>
                Feature this guide
              </div>
              <div fxLayout="row wrap" fxLayoutGap="10px">
                <div>Currently featured guides:</div>
                <div *ngFor="let featuredGuide of featuredGuides" fxLayout="row" fxLayoutGap="5px">
                  <div>{{featuredGuide.navTitle}}</div>
                  <div>
                    <button nz-button nzDanger nzShape="circle" nzSize="small" nz-popconfirm
                            nzPopconfirmTitle="Are you sure you want to remove this guide from featured guides?"
                            (nzOnConfirm)="removeFeatured(featuredGuide)">
                      <i nz-icon nzType="delete"></i>
                    </button>
                  </div>
                </div>
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Banner</nz-form-label>
            <nz-form-control [nzSpan]="12" nzExtra="The banner image for this guide">
              <div *ngIf="!guide.banner || editBanner; else bannerDisplay">
                <nz-spin [nzSpinning]="savingImage">
                  <div fxLayout="column" fxLayoutGap="5px">
                    <input type="file" nz-input (change)="fileChangeEvent($event)" />

                    <image-cropper
                      *ngIf="imageChangedEvent"
                      [imageChangedEvent]="imageChangedEvent"
                      [maintainAspectRatio]="true"
                      [aspectRatio]="21/9"
                      format="png"
                      (imageCropped)="imageCropped($event)"
                    ></image-cropper>

                    <button nz-button nzBlock nzType="primary" type="button"
                            [disabled]="!croppedImage || savingImage" (click)="setBanner(guide)">
                      Apply
                    </button>

                    <button nz-button nzBlock type="button"
                            *ngIf="editBanner" (click)="editBanner = false; croppedImage = ''">
                      Cancel
                    </button>
                  </div>
                </nz-spin>
              </div>
              <ng-template #bannerDisplay>
                <div class="banner-preview">
                  <img [src]="guide.banner" class="guide-banner" alt="">
                  <button class="edit-banner" nz-button nzType="primary" nz-tooltip
                          nzTooltipTitle="Change the banner" (click)="editBanner = true">
                    <i nz-icon nzType="edit"></i>
                  </button>
                </div>
              </ng-template>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Category</nz-form-label>
            <nz-form-control [nzSpan]="12" nzExtra="The navbar category for this guide. Need more? Ask Miu :)">
              <nz-select [(ngModel)]="guide.category" name="category" required>
                <nz-option *ngFor="let category of availableCategories" [nzLabel]="category"
                           [nzValue]="category"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="7">Sub Category</nz-form-label>
            <nz-form-control [nzSpan]="12"
                             nzExtra="The subcategory in homepage section for this guide. Need more? Ask Miu :)">
              <nz-select [(ngModel)]="guide.subCategory" name="subCategory">
                <nz-option *ngFor="let entry of getSubCategories(guide)" [nzLabel]="entry.label"
                           [nzValue]="entry.value"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Navigation title</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <input required [(ngModel)]="guide.navTitle" name="navTitle" nz-input
                     placeholder="Title for the sidebar integration" maxlength="32" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Slug</nz-form-label>
            <nz-form-control [nzSpan]="12"
                             nzExtra="Will be updated automatically with title if guide has no content yet, will become readonly once you confirm the meta.">
              <input required [(ngModel)]="guide.slug" [disabled]="!!guide.content" name="slug" nz-input
                     placeholder="Guide's slug" />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label [nzSpan]="7" nzRequired>Description</nz-form-label>
            <nz-form-control [nzSpan]="12">
              <nz-textarea-count [nzMaxCharacterCount]="256">
            <textarea required [(ngModel)]="guide.description" name="description" nz-input
                      rows="3"
                      placeholder="A clear description for good SEO and home page description"></textarea>
              </nz-textarea-count>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control [nzSpan]="12" [nzOffset]="7">
              <button nz-button nzType="primary"
                      (click)="save(guide);tabset.setSelectedIndex(1)"
                      [disabled]="!formRef.form.valid">
                Go to content edition
              </button>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Content" [nzDisabled]="!guide.slug || !guide.title || !guide.description"
            (nzSelect)="reloadEditor(editor)">
      <div fxLayout="column" fxLayoutAlign="stretch stretch" fxLayoutGap="5px">
        <nz-card>
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutGap="10px">
              <div>
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                  <nz-select [(ngModel)]="selectedAction" nzShowSearch nzServerSearch
                             nzPlaceHolder="Insert action"
                             (keydown.enter)="addAction(editor)"
                             (nzOnSearch)="actionsFilter$.next($event)" style="width: 200px">
                    <nz-option *ngFor="let action of actionsAutocomplete$ | async"
                               [nzValue]="action.ID" [nzLabel]="action.Name_en">
                    </nz-option>
                  </nz-select>
                </nz-input-group>
                <ng-template #suffixIconButton>
                  <button nz-button nzType="primary" nzSearch (click)="addAction(editor)">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>
                  </button>
                </ng-template>
              </div>
              <div>
                <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
                  <nz-select [(ngModel)]="selectedAction" nzShowSearch nzServerSearch
                             nzPlaceHolder="Insert action"
                             (keydown.enter)="addAction(editor)"
                             (nzOnSearch)="actionsFilter$.next($event)" style="width: 200px">
                    <nz-option *ngFor="let action of actionsAutocomplete$ | async"
                               [nzValue]="action.ID" [nzLabel]="action.Name_en">
                    </nz-option>
                  </nz-select>
                </nz-input-group>
                <ng-template #suffixIconButton>
                  <button nz-button nzType="primary" nzSearch (click)="addAction(editor)">
                    <i nz-icon nzType="plus" nzTheme="outline"></i>
                  </button>
                </ng-template>
              </div>
              <div>
                <button nz-button nzType="primary" (click)="addImages(editor)">
                  <i nz-icon nzType="file-image" nzTheme="outline"></i>
                  Add images
                </button>
              </div>
              <div>
                <button nz-button nzType="primary" (click)="insertText(editor, '[List:<ID>]')">
                  <i nz-icon nzType="unordered-list" nzTheme="outline"></i>
                  Add TC list
                </button>
              </div>
              <div>
                <button nz-button nzType="primary" (click)="insertText(editor, '[Rotation:<ID>]')">
                  <i nz-icon nzType="appstore-add" nzTheme="outline"></i>
                  Add TC rotation
                </button>
              </div>
              <div>
                <button nz-button nzType="primary" (click)="addLocation(editor)">
                  <i nz-icon nzIconfont="icon-map"></i>
                  Add a location
                </button>
              </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="flex-end center" fxLayoutGap="10px">
              <label nz-checkbox [(ngModel)]="isContentUpdate"
                     nz-tooltip nzTooltipTitle="Mark the guide as updated once it's saved">
                Content update
              </label>
              <div fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="5px">
                <nz-switch [(ngModel)]="showPreviewInEditor" (ngModelChange)="editor.layout()"></nz-switch>
                <div>Show preview</div>
              </div>
            </div>
          </div>
        </nz-card>
        <div fxLayout="row" class="border-split">
          <div fxFlex="1 1 {{showPreviewInEditor?'50%':'auto'}}">
            <nz-code-editor #editor [(ngModel)]="guide.content"
                            (ngModelChange)="guidesFacade.dirty = true"
                            [nzEditorOption]="{ language: 'markdown' }"></nz-code-editor>
          </div>
          <div fxFlex="1 1 50%" *ngIf="showPreviewInEditor" class="preview-side">
            <guides-guide-content [markdown]="guide.content"></guides-guide-content>
          </div>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Preview">
      <ng-template nz-tab>
        <guides-guide-content [markdown]="guide.content"></guides-guide-content>
      </ng-template>
    </nz-tab>
  </nz-tabset>
</div>
