:host ::ng-deep {
  .ant-tabs-content {
    height: 100%;
  }
}

nz-tabset, nz-tab {
  height: 100%;
}

nz-code-editor {
  // 100vh - Total padding for the content part - header height - tabs nav height - tabs nav margin bottom
  height: ~'calc(100vh - 96px - 64px - 46px - 16px)';
}

.empty-label {
  > .ant-form-item-label {
    visibility: hidden;
  }
}

.preview-side {
  padding: 10px;
}
