<form nz-form [formGroup]="form" (ngSubmit)="submit()">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Map</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      @if (maps$ | async; as maps) {
        <nz-select formControlName="mapId" nzAllowClear nzShowSearch>
          @for (map of maps; track map) {
            <nz-option
              nzLabel="{{map.name.en}}{{map.name_sub?.en ? ' - ' + map.name_sub?.en:''}}"
            [nzValue]="map.id"></nz-option>
          }
        </nz-select>
      } @else {
        <nz-spin></nz-spin>
      }
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>X</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-input-number [nzMax]="42" [nzMin]="1" formControlName="x">
      </nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired>Y</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <nz-input-number [nzMax]="42" [nzMin]="1" formControlName="y">
      </nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24">Display as text + tooltip</nz-form-label>
    <nz-form-control [nzSm]="16" [nzXs]="24">
      <label formControlName="tooltip" nz-checkbox></label>
    </nz-form-control>
  </nz-form-item>
  <nz-divider nzText="Preview" nzOrientation="left"></nz-divider>
  <div fxLayout="column" fxLayoutGap="10px">
    @if (form.valid) {
      <div>
        @if (form.valueChanges | async; as formState) {
          @if (!formState.tooltip) {
            <guides-position
              [args]="[formState.mapId, formState.x, formState.y]"
            preview="true"></guides-position>
          }
          @if (formState.tooltip) {
            <guides-position-tooltip
              [args]="[formState.mapId, formState.x, formState.y]"
            preview="true"></guides-position-tooltip>
          }
        }
      </div>
    } @else {
      <nz-empty nzNotFoundContent="Please fill the form to have a preview"></nz-empty>
    }
    <div fxLayout="row" fxLayoutGap="10px">
      <div>
        <button nz-button [nzType]="'primary'" type="submit">Insert</button>
      </div>
      <div>
        <button nz-button nzDanger type="button" (click)="cancel()">Cancel</button>
      </div>
    </div>
  </div>
</form>
