<div fxLayout="column"
     fxLayoutAlign="flex-start stretch"
     *ngIf="display$ | async as display">
  <section class="featured-section">
    <guides-divider>
      <h1>Featured</h1>
    </guides-divider>
    <div fxLayout="row" fxLayoutAlign="space-around flex-start"
         class="featured-guides">
      <div *ngFor="let guide of display.featured">
        <guides-guide-card class="featured-guide-card" [guide]="guide"></guides-guide-card>
      </div>
    </div>
    <hr>
  </section>
  <section class="basic-section">
    <guides-divider>
      <h1 class="title-with-icon"><i class="companion-svg">&#x0F008;</i> Crafting Guides</h1>
    </guides-divider>
    <div fxLayout="row" fxLayoutAlign="space-around flex-start"
         class="basic-content">
      <guides-xiv-horizontal-tabs [guides]="display.crafting"></guides-xiv-horizontal-tabs>
    </div>
    <hr>
  </section>
  <section class="basic-section">
    <guides-divider>
      <h1 class="title-with-icon"><i class="companion-svg">&#x0F120;</i> Gathering Guides</h1>
    </guides-divider>
    <div fxLayout="row" fxLayoutAlign="space-around flex-start"
         class="basic-content">
      <guides-xiv-horizontal-tabs [guides]="display.gathering"></guides-xiv-horizontal-tabs>
    </div>
    <hr>
  </section>
  <section class="basic-section">
    <guides-divider>
      <h1 class="title-with-icon"><i class="companion-svg">&#x0F159;</i> Other Guides</h1>
    </guides-divider>
    <div fxLayout="row" fxLayoutAlign="space-around flex-start"
         class="basic-content">
      <guides-xiv-horizontal-tabs [guides]="display.other"></guides-xiv-horizontal-tabs>
    </div>
    <hr>
  </section>
</div>
