<div fxLayout="column" fxLayoutAlign="flex-start stretch" *ngIf="display$ | async as display else loader">
  <nz-divider nzText="Recently Updated" nzOrientation="left"></nz-divider>
  <div fxLayout="row" fxLayoutAlign="flex-start center">
    <div *ngFor="let guide of display.news">
      <guides-guide-card [guide]="guide"></guides-guide-card>
    </div>
  </div>
  <div *ngFor="let entry of display.categorized">
    <nz-divider [nzText]="GuideCategory[entry.category]" nzOrientation="left"></nz-divider>
    <div fxLayout="row wrap" fxLayoutAlign="flex-start center">
      <div *ngFor="let guide of entry.guides">
        <guides-guide-card [guide]="guide"></guides-guide-card>
      </div>
    </div>
  </div>
</div>
<ng-template #loader>
  <div class="loader" fxLayout="row" fxLayoutAlign="center center">
    <nz-spin nzTip="Loading awesome things..."></nz-spin>
  </div>
</ng-template>
