<ng-template #menu let-mode let-flex="flex">
  <ul nz-menu [nzMode]="mode" [fxLayout]="flex" [nzInlineCollapsed]="false | ifMobile: isCollapsed">
    <ng-container *ngIf="navBarContent$ | async as navBarContent">
      <li nz-submenu>
        <span title>
          <i class="companion-svg anticon">&#x0F008;</i>
          <span>CRAFTING</span>
        </span>
        <ul>
          <ng-container *ngFor="let guide of navBarContent.Crafting">
            <li class="menu-entry" nz-menu-item nzMatchRouter (click)="isCollapsed = true">
              <a routerLink="/guide/{{guide.slug}}">{{guide.navTitle}}
                <i *ngIf="!guide.published" nz-icon nzType="form"
                   nz-tooltip
                   nzTooltipTitle="Unpublished, only editors can see this"></i>
              </a>
            </li>
          </ng-container>
        </ul>
      </li>
      <li nz-submenu>
        <span title>
          <i class="companion-svg anticon">&#x0F120;</i>
          <span>GATHERING</span>
        </span>
        <ul>
          <ng-container *ngFor="let guide of navBarContent.Gathering">
            <li class="menu-entry" nz-menu-item nzMatchRouter
                (click)="isCollapsed = true">
              <a routerLink="/guide/{{guide.slug}}">{{guide.navTitle}}
                <i *ngIf="!guide.published" nz-icon nzType="form"
                   nz-tooltip
                   nzTooltipTitle="Unpublished, only editors can see this"></i>
              </a>
            </li>
          </ng-container>
        </ul>
      </li>
      <li nz-submenu>
        <span title>
          <i class="companion-svg anticon">&#x0F159;</i>
          <span>OTHER</span>
        </span>
        <ul>
          <ng-container *ngFor="let guide of navBarContent.Other">
            <li class="menu-entry" nz-menu-item nzMatchRouter
                (click)="isCollapsed = true">
              <a routerLink="/guide/{{guide.slug}}">{{guide.navTitle}}
                <i *ngIf="!guide.published" nz-icon nzType="form"
                   nz-tooltip
                   nzTooltipTitle="Unpublished, only editors can see this"></i>
              </a>
            </li>
          </ng-container>
        </ul>
      </li>
    </ng-container>
    <div fxFlex="1 1 auto"></div>
    <li nz-menu-item nzMatchRouter fxShow fxHide.lt-md *ngIf="user$ | async"
        class="ant-menu-submenu-title">
      <i nz-icon nzType="edit"></i>
      <span>
        <a routerLink="/editor">EDITOR</a>
      </span>
    </li>
  </ul>
</ng-template>

<nz-layout class="app-layout">
  <nz-header [ngClass.lt-md]="['mobile']" fxLayout="row">
    <div class="sidebar-logo" fxFlex="0 0 auto" fxFlex.lt-md="1 1 auto">
      <a routerLink="/" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px">
        <img src="./assets/media/logo.png" alt="logo">
        <h1 class="main-title">TEAMCRAFT<br>GUIDES</h1>
      </a>
    </div>
    <div fxLayout="row" fxFlex="1 1 auto" fxShow fxHide.lt-md>
      <div fxFlex="1 1 auto">
        <ng-container *ngTemplateOutlet="menu; context:{$implicit: 'horizontal', flex: 'row'}"></ng-container>
      </div>
      <div class="patreon-discord" fxFlex="0 0 auto">
        <a href="https://www.patreon.com/bePatron?u=702160" target="_blank">
          <img src="./assets/media/patreon_logo_white.png" alt="patreon" title="Support us on Patreon">
        </a>
        <a href="https://discord.gg/r6qxt6P" target="_blank">
          <img src="./assets/media/discord_logo_white.png" alt="discord" title="Join us on Discord">
        </a>
      </div>
      <div class="auth-topbar" fxLayout="row" fxLayoutAlign="center center">
        <div *ngIf="user$ | async as user; else loginTpl">
          <div fxLayout="row" fxLayoutGap="5px" fxLayoutAlign="center center"
               *ngIf="user.$key | character | async as character">
            <img src="{{character.Avatar}}" alt="" class="character-avatar">
            <div>{{character.Name}}</div>
            <div>
              <button nz-button nzShape="circle" nzSize="small" nzDanger (click)="logout()">
                <i nz-icon nzType="disconnect" nzTheme="outline"></i>
              </button>
            </div>
          </div>
        </div>
        <ng-template #loginTpl>
          <div>
            <button nz-button (click)="login()">
              Sign in
            </button>
          </div>
        </ng-template>
      </div>
    </div>
  </nz-header>
  <nz-layout>
    <nz-sider class="menu-sidebar"
              fxHide fxShow.lt-md
              nzCollapsible
              [(nzCollapsed)]="isCollapsed"
              [nzCollapsedWidth]="0"
              [nzWidth]="200">
      <ng-container *ngTemplateOutlet="menu; context:{$implicit: 'inline', flex: 'column'}"></ng-container>
    </nz-sider>
    <nz-content>
      <div class="content-container" #scrollContainerRef>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
        <nz-footer fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="row" fxLayoutAlign="flex-start center">
              <div class="sidebar-logo" fxFlex="0 0 auto" fxFlex.lt-md="1 1 auto">
                <a routerLink="/" fxLayout="row" fxLayoutAlign="flex-start center" fxLayoutGap="10px">
                  <img src="./assets/media/logo.png" alt="logo">
                  <h1 class="main-title">TEAMCRAFT<br>GUIDES</h1>
                </a>
              </div>
              <div class="footer-link">
                <a href="https://github.com/ffxiv-teamcraft" target="_blank">About</a>
              </div>
              <div class="footer-link">
                <a href="mailto:contact@ffxivteamcraft.com">Contact</a>
              </div>
            </div>
            <div class="patreon-discord">
              <img src="./assets/media/patreon_logo_white.png" alt="patreon" title="Support us on Patreon">
              <img src="./assets/media/discord_logo_white.png" alt="discord" title="Join us on Discord">
            </div>
          </div>
          <div class="copyright">© SQUARE ENIX CO., LTD. All Rights Reserved | FINAL FANTASY is a registered trademark
            of Square Enix Holdings Co., Ltd.
          </div>
        </nz-footer>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
